attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
clarifai==2.6.2
configparser==3.7.4
EasyProcess==0.2.7
emoji==0.5.2
future==0.17.1
googleapis-common-protos==1.6.0
grpcio==1.22.0
idna==2.8
instapy==0.5.5
instapy-chromedriver==2.46
jsonschema==3.0.1
MeaningCloud-python==1.1.1
plyer==1.4.0
protobuf==3.18.3
pyrsistent==0.15.3
pyTelegramBotAPI==3.6.6
PyYAML==5.1.1
regex==2019.6.8
requests==2.22.0
selenium==3.141.0
six==1.12.0
telebot==0.0.3
urllib3==1.25.3
